.booking-form {
	margin-top: -20px;
}

.jRKJBk {
	left: -64px !important;
	top: -281px !important;
}
.lngyOU {
	height: 25px !important;
	width: 30px !important;
	background: #ffffff;
	color: #000 !important;
	font-weight: bold !important;
	font-size: 10px !important;
}
.fzLcug {
	display: grid;
	grid-template-columns: repeat(7, 23px) !important;
}
.SXUQJ {
	height: 21px !important;
	width: 21px !important;
	font-size: 12px !important;
}

.iAZzTI {
	height: 21px !important;
	width: 21px !important;
	font-size: 12px !important;
}
.dBNhmu {
	display: none !important;
}
.hhPgcv {
	display: grid;
	grid-template-columns: 1fr 1fr !important;
}
.lkdcmy {
	width: 155px !important;
}
.kMSxrM {
	width: 40px !important;
}
.ejSasR {
	display: none !important;
}
.ebJMFI {
	margin-left: 24px !important;
}
.hkTOqF {
	right: -5px !important;
}
.dZwZKn {
	margin-left: 10px !important;
}
.fcCAzN {
	font-size: 12px !important;
}
.bvWaMi {
	height: 21px !important;
	width: 21px !important;
	font-size: 12px !important;
}
